[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
black = "*"
requests-html = "*"
flake8 = "*"
unidecode = "*"
redis = "*"
flask = "*"
jinja2 = "*"
flask-wtf = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
